.gradle
build/
plans/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin/

### OS별 파일 ###
.DS_Store
Thumbs.db
Desktop.ini

### Spring Boot ###
.spring-boot-devtools.properties

### JFR ###
*.jfr

### 로그 파일 ###
logs/
*.log

### 데이터베이스 ###
*.db
*.sqlite
*.h2.db